.CSVUpload {
  .form {
    h3 {
      margin-bottom: 0;
    }
    p {
      color: $color-gray;
      margin-top: 0;
    }
  }
  #generateCSV {
    position: absolute;
  }
  #validateCSV {
    position: absolute;
  }
  .csvLabel {
    margin: 0;
    position: relative;
    z-index: 3;
  }

  .LoadingIconWrapper {
    margin-top: 1em;
  }
}
