.Form {
  padding: 0;

  h3 {
    margin-bottom: 0;
  }
  .usa-input-error {
    padding-top: 0;
    padding-bottom: 0;
  }
  legend {
    font-size: 1.6rem;
  }
  fieldset {
    label {
      margin: 0.5em 0 1em 1em;
    }
  }
  .header {
    margin-bottom: 1em !important;
  }

  .info {
    background-color: $color-primary-alt-lightest;
    margin-bottom: 2em;
    padding: 1.5em;
    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}
