.BannerBeta.usa-alert-warning {
  margin: 0;
  padding: 2em 6em;
  h4 {
    margin-top: 0;
    img {
      margin-left: -35px;
      width: 30px;
      position: absolute;
    }
  }
  p {
    margin: 0;
  }
}
