.header {
  h1,
  h4 {
    margin-bottom: 0;
  }
  .usa-font-lead {
    color: $color-gray;
    margin-top: 0;
  }
  p {
    max-width: 77rem;
  }
  p:first-of-type {
    margin-top: 0;
  }
  form {
    display: inline-block;
    margin-right: 0.5em;
    select {
      background-position: right 0.5rem center;
      font-size: 4rem;
      font-weight: bold;
      height: auto;
      line-height: 1;
      margin: 0 0 -2px;
      padding: 0 2.5rem 0 0.5rem;
    }
  }
}
