.CSVUpload{
  #csvfile {
    width: 130px;
    height: 33px;
    margin: 2px 0 0 2px;
    padding: 0;
    display: inline;
    position: absolute;
    z-index: -1;
    border: none;
  }
  .csvLabel {
    margin: 0;
  } 

  .LoadingIconWrapper {
    margin-top: 1em;
  }
}
