@font-face {
  font-family: SourceSansPro;
  src: url(./fonts/sourcesanspro-regular-webfont.woff);
}
@font-face {
  font-family: SourceSansProBold;
  src: url(./fonts/sourcesanspro-bold-webfont.woff);
}
@font-face {
  font-family: SourceSansProItalic;
  src: url(./fonts/sourcesanspro-italic-webfont.woff);
}
html {
  font-family: SourceSansPro;
  font-size: 10px;
  min-height: 100%;
  position: relative;
}
body {
  margin: 0 0 350px;
  padding: 0;
  font-family: SourceSansPro;
  font-size: 1.6rem;
}
.skipnav {
  background: transparent;
  color: #212121;
  left: 0;
  padding: 1rem 1.5rem;
  position: absolute;
  top: -4.2rem;
  transition: all 0.2s ease-in-out;
  z-index: 100;
}

a {
  color: #0071bc;
  text-decoration: underline;
}
a:visited {
  color: #4c2c92;
}
a:hover,
a:active {
  color: #205493;
}

p {
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: SourceSansProBold;
}

hr {
  border-bottom: none;
  border-top: 1px solid #aeb0b5;
}

.font-lead {
  font-size: 2rem;
  line-height: 1.7;
  margin-top: 0;
  max-width: 77rem;
}

.text-small {
  font-size: 1.3rem;
}

#main-content {
  margin: 0 auto;
  max-width: 1040px;
}

#main-content .header {
  border-bottom: none;
}

#main-content .grid {
  align-items: stretch;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 50% 50%;
  margin: 0 auto;
}

#main-content .grid .item {
  flex: 1;
  margin: 0 20px;
}

#main-content .grid .item:first-child {
  margin-left: 0;
}
#main-content .grid .item:last-child {
  margin-right: 0;
}
#main-content h1 {
  font-size: 4rem;
  margin-top: 1.5em;
}
